html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(45deg, #FDB813, #FFC300);
	color: #222;
	min-height: 100vh;
  }
  
  h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
  }
  
  nav {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 10px;
	display: flex;
	justify-content: space-around;
  }
  
  nav a {
	color: #222;
	text-decoration: none;
	font-size: 1.1rem;
	transition: 0.3s;
  }
  
  nav a:hover {
	color: #FDB813;
  }
  
  section {
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
  }
  
  button {
	background-color: #FDB813;
	border: none;
	color: white;
	padding: 10px 20px;
	font-size: 1.1rem;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 50px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
  }
  
  button:hover {
	background-color: #EAA708;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  address {
	font-style: normal;
  }
  
  @media (max-width: 768px) {
	nav {
	  flex-wrap: wrap;
	}
  
	nav a {
	  flex: 1;
	}
  }
  
  header {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .logo-container {
	width: 75px;
	height: 75px;
  }
  
  .logo {
	max-width: 150%;
	max-height: 150%;
	object-fit: contain;
  }
  
  .header-text {
	text-align: center;
	flex: 1;
  }
  
  .company-title {
	color: #222;
	font-size: 1.5rem;
	margin: 0;
  }
  
  .company-subtitle {
	color: #222;
	font-size: 1rem;
	margin-top: 5px;
  }
  